@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}


body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
    background: url(fundo3.jpg) no-repeat;
    background-size: cover;
    /*background-position: center;*/

}

.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, .2);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    padding: 40px;

}


.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

/* Tela de login - por padrão ela aparece */
.wrapper .form-wrapper.login {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

/* Tela de registro e recuperação de senha - por padrão elas não aparecem */
.wrapper .form-wrapper.register,
.wrapper .form-wrapper.recover {
    transform: scale(0) translate(200px, -500px);
    opacity: 0;
    visibility: hidden;
}

/* Quando a classe login-active estiver no wrapper, a tela de login é mostrada */
.wrapper.login-active .form-wrapper.login {
    transform: scale(1) translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/* Quando a classe register-active estiver no wrapper, a tela de registro é mostrada */
.wrapper.register-active .form-wrapper.register {
    transform: scale(1) translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/* Quando a classe recover-active estiver no wrapper, a tela de recuperação de senha é mostrada */
.wrapper.recover-active .form-wrapper.recover {
    transform: scale(1) translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/* Esconde as outras telas quando uma está ativa */
.wrapper.register-active .form-wrapper.login,
.wrapper.register-active .form-wrapper.recover,
.wrapper.recover-active .form-wrapper.login,
.wrapper.recover-active .form-wrapper.register,
.wrapper.login-active .form-wrapper.register,
.wrapper.login-active .form-wrapper.recover {
    transform: scale(0) translate(200px, -500px);
    opacity: 0;
    visibility: hidden;
}


h1{
    font-size:30px;
    color: #fff;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}

.input-box input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #fff;
    
    padding: 20px 85px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #fff;

}

.remember-forgot label input{
accent-color: #a42ac5;
font-size: 14.5px;
margin-right: 3px;

}

.remember-forgot a { 
    color: #a42ac5;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}


 .btn{
    position: relative;
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-weight: 500;
 }

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0;

 }
 .register-link p{
    color: #fff;
 }

 .register-link p a{
    color: #a42ac5;
    text-decoration: none;
    font-weight: 500;

 }

 .register-link p a:hover{
    text-decoration: underline;
 }

 .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0;

 }
 .login-link p{
    color: #fff;
 }

 .login-link p a{
    color: #a42ac5;
    text-decoration: none;
    font-weight: 500;

 }

 .login-link p a:hover{
    text-decoration: underline;
 }

 .recover-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0;

 }
 .recover-link p{
    color: #fff;
 }

 .recover-link p a{
    color: #a42ac5;
    text-decoration: none;
    font-weight: 500;

 }

 .recover-link p a:hover{
    text-decoration: underline;
 }
